---
import Wrapper from '$layouts/wrapper.astro';
import PostHero from '$components/PostHero.svelte';
import Card from '$components/Card.svelte';
import Pagination from '$components/Pagination.svelte';

export interface Props {
  featured: object;
  posts: Array<object>;
  microcopy: object;
  page: number;
  pages: number;
}

const { featured, posts, microcopy, page, pages } = Astro.props;
const { locale } = microcopy;
---

<Wrapper locale={locale} metadesc="" title={microcopy.news.posts.title}>
  <div class="news">
    <PostHero
      title={featured.data.title}
      body={featured.data.metadesc}
      cta={featured.cta}
      media={featured.media}
      theme={featured.data.theme}
      section={featured.data.tags[0]}
      form="standalone"
    />
    <section
      class="wrapper wrapper--full-bleed wrapper--padding wrapper--padded wrapper__background wrapper__contained"
    >
      <div class="news--content">
        <h2 class="type--h1 news--title">
          {microcopy.news.posts.title}
        </h2>
        <ol class="news--items">
          {
            posts.map((post) => {
              return (
                <li class="news--item">
                  <Card
                    title={post.title}
                    body={post.body}
                    cta={post.cta}
                    eyebrow={post.eyebrow}
                  />
                </li>
              );
            })
          }
        </ol>
        <Pagination
          base={`/${locale.code}/news`}
          current={page}
          total={pages}
          locale={locale.code}
          labels={microcopy.microcopy.pagination}
        />
      </div>
    </section>
  </div>
</Wrapper>

<style lang="scss">
  .news {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;

    &--content {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
    }
    //
    &--title {
      text-align: center;
    }

    &--items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 325px), 1fr));
      justify-items: center;
      gap: 2.5rem 1.5rem;
      list-style: none;

      :global(.card) {
        height: 100%;
      }
    }
  }

  .wrapper {
    width: 100%;
  }
</style>
