---
import { getMicrocopyFromLangCode } from '$$microcopy';
import Wrapper from '$layouts/wrapper.astro';
import Search from '$components/Search.svelte';
import SearchResults from '$components/SearchResults.svelte';
// import AnimatedHero from '$components/home/animated-hero.svelte';
import { languages } from '$$sanity';

/**
 * Builds paths for content files
 * @return {object[]} Paths
 */
export function getStaticPaths() {
  return languages.map((l) => ({
    params: {
      lang: l.code,
    },
    props: {
      microcopy: getMicrocopyFromLangCode(l.code),
    },
  }));
}

const { microcopy } = Astro.props;
const { locale } = microcopy;
// console.log(locale);
// const hero = { heading: home.hero.heading, copy: home.hero.copy };
---

<Wrapper locale={locale} metadesc="" title="ChromeOS.dev">
  <Search locale={locale} label="Search" />
  <div id="SearchResults">
    <SearchResults
      resultsString={microcopy.search.results}
      locale={locale}
      pagination={microcopy.pagination}
      client:load
    />
  </div>

  <script type="module">
    // eslint-disable-next-line import/no-unresolved
    window.pagefind = await import('/pagefind/pagefind.js');
    const results = document.getElementById('SearchResults');
    const searchEvent = new Event('SearchReady');
    results.dispatchEvent(searchEvent);
  </script>
</Wrapper>

<style lang="scss">
  .wrapper {
    background-color: var(--grey-100);
  }

  .search-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 80ch;
    margin-inline: auto;
  }

  .results {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
