---
import Wrapper from '$layouts/wrapper.astro';
import StoryCard from '$components/stories/StoryCard.svelte';
import FeaturedStory from '$components/stories/FeaturedStory.svelte';
import { storyLandings, microcopy as micro, stories as st } from '$$sanity';

/**
 * Builds paths for content files
 */
export async function getStaticPaths() {
  return storyLandings.map((s) => {
    return {
      params: {
        lang: s._langCode,
      },
      props: {
        landing: s,
        microcopy: micro[s._lang],
      },
    };
  });
}

const { landing, microcopy } = Astro.props;
const { locale } = microcopy;

const stories = st.filter((s) => s._langCode === landing._langCode);
const featuredIndex = stories.findIndex((s) => s?.featured);
const featured = stories[featuredIndex];

const sections = landing.sections
  .map((section) => {
    const result = section;
    result.stories = stories.filter(
      (story) =>
        story.category.slug === section.category.slug &&
        story._path !== featured?._path,
    );
    result.image = `ix://icons/eyebrows/${
      section.tag === 'pwa'
        ? 'web'
        : section.tag === 'android'
        ? 'android'
        : 'games'
    }.svg`;
    return result;
  })
  .filter((s) => s.stories.length > 0);

console.log(sections);
---

<Wrapper title={landing.title} metadesc="" locale={locale}>
  {featured && <FeaturedStory story={featured} microcopy={microcopy} />}

  {
    sections.map((section) => (
      <section class="wrapper wrapper--padded wrapper__contained">
        <header class="header">
          <div class="heading">
            <img src={section.image} alt="" aria-hidden="true" />
            <h2 class="type--h2">{section.title}</h2>
          </div>

          <p class="subtitle type--subtitle">{section.description}</p>
        </header>
        <div class="content">
          {section.stories.map((story) => (
            <StoryCard story={story} action={microcopy.actions.more} />
          ))}
        </div>
      </section>
    ))
  }
</Wrapper>

<style lang="scss">
  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .heading {
    display: flex;
    gap: 1rem;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 30ch), 1fr));
    gap: 2.5rem 1.25rem;
    margin-top: 2.5rem;
  }

  .subtitle {
    max-width: 60ch;
  }
</style>

<!-- <img src="https://chromeos-dev.imgix.net/icons/eyebrows/games.svg?auto=format,compress" alt="" class="item-grid__icon icon" aria-hidden="true" crossorigin="anonymous" loading="lazy" sizes="100vw" height="" width=""> -->
