---
import { getMicrocopy } from '$$microcopy';
import Wrapper from '$layouts/wrapper.astro';
import Search from '$components/Search.svelte';
import SearchResults from '$components/SearchResults.svelte';
// import AnimatedHero from '$components/home/animated-hero.svelte';
import { languages } from '$$sanity';

/**
 * Builds paths for content files
 * @return {object[]} Paths
 */
export function getStaticPaths() {
  return languages
    .filter((h) => h.code === 'en')
    .map((l) => ({
      params: {
        lang: l.code,
      },
      props: {
        microcopy: getMicrocopy(l.code),
      },
    }));
}

const { microcopy } = Astro.props;
const { locale } = microcopy;
// console.log(locale);
// const hero = { heading: home.hero.heading, copy: home.hero.copy };
---

<Wrapper locale={locale} metadesc="" title="ChromeOS.dev">
  <article class="wrapper wrapper--full-bleed wrapper--padding wrapper--padded">
    <div class="search-wrapper">
      <Search locale={locale} label="Search" />
    </div>

    <div id="SearchResults">
      <SearchResults
        resultsString={microcopy.search.results}
        locale={locale}
        pagination={microcopy.pagination}
        client:load
      />
    </div>
  </article>
</Wrapper>

<style lang="scss">
  .wrapper {
    background-color: var(--grey-100);
    flex-grow: 1;
  }

  .search-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    max-width: 80ch;
    margin-inline: auto;
  }
</style>
